.header{
    width: 100%;
    height: 100vh;
    background-image: url(207ace076a60b0b98f7119c2a4da1312.jpg);
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: center;
    padding: 0 7%;
    transition: background-image 1s;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav .btn{
color: #fff;
text-decoration: none;
border: 1px solid #fff;
padding: 10px 30px;
border-radius: 30px;
margin-right: 7%;
}
.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: -50px;
}
.info div{
    margin: 0 20px;
}
.info div h2{
    font-size: 44px;
    font-weight: 400;
}
.info .line{
    flex: 1;
    background: #fff;
    height: 4px;
}
body{
    width: 100%;
    overflow: hidden;
}